<%- include('partials/header') %>
<div class="container bg-white">
    <h2>Liste des sujets</h2>
</div>
<div class="container bg-white">
    <% if (locals.tags)  {%> 
        
        <div class="tag-lg__container">
            <% for(let tag of tags){ %>
                    <h3><a href="/tags/<%= tag.id %> " class="tag tag-lg tag--<%= tag.name.toLowerCase() %>"><%= tag.name %></a></h3>                
            <% } %>
        </div>
    <% } %>
</div> <%# /div.row %> 
        
        
        <%- include('partials/footer') %>